@import "../base/variables";
.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/hero\ 2.jpg');
    background-size: cover;
    
                    .nav {
                    --padding-container: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    list-style: none;

    
        .nav__link--menu{
            position: fixed;
            background-color: rgb(253, 230, 230);
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            z-index: 100;
            opacity: 0;
            pointer-events: none;
            transition: .7s opacity;
                    .nav__items {
                        list-style: none;
                    text-decoration: none;
            
                    .nav__links {
                        text-decoration: none;
                        color :rgb(219, 218, 218);
                        list-style-type: style none;
                        
                    }
                }
            .nav__close{
            display: var(--show, none);
                }
            }
            
            
            .nav__menu {
                margin-left: auto;
            cursor: pointer;
            display: none;
            text-decoration: none;
            .nav__img {
                display: block;
            width: 30px;
            }
        }
        
    }


    .hero__container {
        max-width: 800px;
        --padding-container: 0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        text-align: center;
        .hero__titulo {
            font-size: 3rem;
        }
        .hero__parrafo {
            margin-bottom: 20px;
        }

        .cta {
            @include button (inline-block, #2091F9 , center , #FFF, none , 13px 30px , 35px);

                }
            }

            .hero_nosotros  button{
                justify-content: center;
                
                
            }
            .hero_nosotros div{
                text-align: center;
                justify-content:center;
            }
            .boton_nosotros {
                text-align: center;
                background-color: #2091F9;
                color: #fff;
                border-radius: 32px;
                padding: 13px 30px;
                display: flex
                
            
            }
            .tittle_nosotros{
                text-align: center;
            }
            .img_nosotros1{
                width: 100%;
                display: block;
            }
            
        }
    
    